@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }
    /*Cache le menu burger version pc*/
    .menu-burger {
        display: none;  /*disparait de l' écrant*/
    }
    /*Apparition du menu desktop version pc*/
    .menu-desktop {
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
    }
    .menu-desktop a {
        text-decoration: none;
        color: var(--black);
    }
    /*header vercion pc*/
    header h1 {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    header p {
        font-size: 1.3rem;
    }
    header img {
        width: 40%;
    }
    /*main version pc*/
    main .card-project {
        position: relative;
    }

    main .card-project h2 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 26%;
        font-size: 1.2rem;
    }
    main .btn-light {
        display: none;
    }
    /* Newletter*/
    main .newsletter  {
        display: flex;
        flex-direction: row-reverse; /*Inverse l'orde de lecture de la ligne lis de.. */
        padding: 50px; /*espace interieur*/                /*droite à gauche*/
        align-items: center;/*aligne le bouton +texte*/
    }
    main .newsletter img,
    main .newsletter div {
        width: 50%;
    }
    main .newsletter h3 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    main .newsletter .btn-dark {
        display: inline;      /*prend de l'espace que de son contenue*/
        padding: 12px 28px;
    }
    /*footer*/
    footer ul {
       display: flex;
       justify-content: right;
    }
    footer ul li {
        border: none;
    }
}